@import "controls.css";
@import "utilities.css";

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", helvetica, arial, sans-serif;
  --orange: orange;
  --light-orange: papayawhip;
  --dark-orange: darkorange;
  --red: #c00;
  --light-red: #faa;
  --black: #130f30;
  --white: #fff;
  --border-color: #ddd;
  --light-gray: #f1f1f1;
  --lighter-gray: #fafafa;
  --link-color: #0af;

  --size-half: 0.75rem;
  --size-1: 1.5rem;
  --size-2: 3.0rem;
  --size-3: 4.5rem;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 20px;
  background: var(--white);
  color: var(--black);
  line-height: 1.5em;
  font-weight: 300;
}

a {
  color: var(--link-color);
}

/* Header */

#transport {
  justify-content: center;
}

.play-icon {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 0.5rem 0.0rem 0.5rem 1.0rem;
  border-color: transparent transparent transparent var(--black);
}

.play-icon-enabled {
  border-color: var(--white);
}

.rewind-icon {
  display: block;
  width: 1.0rem;
  height: 1.0rem;
  overflow: hidden;
  border-style: solid;
  border-width: 0 0 0 3px;
  border-color: var(--black);
  box-sizing: border-box;
}

.rewind-icon::before {
  content: "\00a0";  /* non-breaking space character */
  display: block;
  width: 0px;
  height: 0px;
  margin-left: -3px;
  border-style: solid;
  border-width: 0.5rem 1.0rem 0.5rem 0.0rem;
  border-color: transparent var(--black) transparent transparent;
}

@media (hover) {
  .button-standard-tab-list:hover .play-icon {
    border-color: transparent transparent transparent var(--orange);
  }

  .button-standard-tab-list:hover .play-icon-enabled {
    border-color: var(--orange);
  }

  .button-standard-tab-list:hover .rewind-icon {
    border-color: var(--orange);
  }

  .button-standard-tab-list:hover .rewind-icon::before {
    border-color: transparent var(--orange) transparent transparent;
  }
}

.popup-box {
  background: var(--white);
  position: absolute;
  right: 0;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  width: 15.0rem;
  z-index: 1000;
}

.popup-box::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 1.5rem;
  border-width: 0 1.25rem 1.25rem 1.25rem;
  border-style: solid;
  border-color: transparent transparent var(--border-color) transparent;
}

.popup-box::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 1.7rem;
  padding-top: 0.1875rem;  /* Prevent artifact when menu is hidden in Safari */
  border-width: 0 1.0625rem 1.0625rem 1.0625rem;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
}

.spinner-icon {
  width: 1.0rem;
  height: 1.0rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--black) var(--black) var(--black) transparent;
  animation: spinner 1s linear infinite;
}
@keyframes spinner { 100% { transform: rotate(360deg); } }

.tab-strip {
  overflow: hidden;
  border-radius: 5px;
  flex: 1;
}

.tab-strip-item {
  border-right: 1px solid var(--border-color);
}

.tab-strip-item:last-child {
  border-right: 0;
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }

  .tab-strip {
    flex: 0 0 100%;
    order: 1;
  }
}

@media (max-width: 666px) {
  #header {
    flex-flow: row wrap;
  }

  #logo-container {
    order: 1;
    flex: 1 50%;
  }

  #transport {
    order: 3;
    flex: 1 100%;
    padding-top: 1.5rem;
    justify-content: space-between;
  }

  .transport-inner {
    flex: 1;
  }

  #download-container {
    order: 2;
    flex: 1 50%;
  }
}


/* Sequencer */

.sequencer-step-timeline {
  width: 100%;
  height: 1.5rem;
  position: absolute;
  bottom: 1px;
}

input[type="range"].sequencer-playback-header::-webkit-slider-runnable-track {
  height: 0px;
  background-color: red;
}

input[type="range"].sequencer-playback-header::-moz-range-track {
  height: 0px;
  background-color: red;
}

input[type="range"].sequencer-playback-header::-ms-track {
  height: 0px;
  background-color: red;
}

input[type="range"].sequencer-playback-header::-webkit-slider-thumb {
  background: #aaaaaaaa;
  border: 2px solid black;
  box-sizing: border-box;
  margin-top: -0.75rem;
}

input[type="range"].sequencer-playback-header::-moz-range-thumb {
  background: #aaaaaaaa;
  border: 2px solid black;
  box-sizing: border-box;
}

input[type="range"].sequencer-playback-header::-ms-thumb {
  background: #aaaaaaaa;
  border: 2px solid black;
  box-sizing: border-box;
}

input[type="range"].sequencer-playback-header::-webkit-slider-thumb:active {
  background: #666666aa;
}

input[type="range"].sequencer-playback-header::-moz-range-thumb:active {
  background: #666666aa;
}

input[type="range"].sequencer-playback-header::-ms-thumb:active {
  background: #666666aa;
}

@media (hover) {
  input[type="range"].sequencer-playback-header::-webkit-slider-thumb:hover {
    background: #666666aa;
  }

  input[type="range"].sequencer-playback-header::-moz-range-thumb:hover {
    background: #666666aa;
  }

  input[type="range"].sequencer-playback-header::-ms-thumb:hover {
    background: #666666aa;
  }
}


.sequencer-playback-line {
  position: absolute;
  top: calc(3.0rem - 1px);
  bottom: 0;
  width: 5px;
  background: var(--orange);
  opacity: 0.5;
}

.sequencer-cell {
  flex: 0 0 9.0rem;
}

.sequencer-body-left-padding {
  flex: 0 0 1.0rem;
  background-image: url(images/sequencer_row_background.png);
  background-size: 144px 72px;
  background-position: bottom right;
  image-rendering: pixelated;
}

.sequencer-body {
  background-image: url(images/sequencer_row_background.png);
  background-size: 144px 72px;
  background-position: bottom right;
  image-rendering: pixelated;
}

.sequencer-body-right-padding {
  flex: 1;
  min-width: 1.0rem;
  background-image: url(images/sequencer_row_background.png);
  background-size: 1px 72px;
  background-position: bottom;
  image-rendering: pixelated;  /* Prevent blurry/hidden image in Chrome */
}

.sequencer-cell-header {
  background-image: url(images/sequencer_timeline_ticks.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 36px 20px;
}

.timeline-pattern {
  position: absolute;
  display: block;
  height: calc(100% - 1px);
  box-sizing: border-box;
  border: 1px solid var(--black);
  border-radius: 5px;
  background: var(--light-gray);
}

.timeline-pattern-transparent {
  opacity: 0.5;
}

.timeline-pattern-selected {
  background: var(--light-orange);
  border-color: var(--orange);
}

.timeline-pattern-error {
  background: var(--light-red);
  border-color: var(--red);
}

.timeline-pattern-divider {
  display: block;
  background: var(--light-gray);
  height: calc(100% - (5px * 2));
  width: 0;
  margin-top: 5px;
  border-width: 0 0 0 1px;
  border-color: var(--light-gray);
  border-style: solid;
}

.timeline-pattern-divider-selected {
  background: var(--light-orange);
  border-color: var(--light-orange);
}

.timeline-pattern-divider-error {
  background: var(--light-red);
  border-color: var(--light-red);
}

.timeline-pattern-name {
  position: absolute;
  background: var(--light-gray);
  margin-left: 0.25rem;
  margin-top: 1px;
  line-height: 1.25rem;
  max-width: calc(100% - 1.5rem - 0.5rem - 2px);
  overflow: hidden;
  font-size: 1.0rem;
  text-overflow: ellipsis;
}

.timeline-pattern-name-selected {
  background: var(--light-orange);
}

.timeline-pattern-name-error {
  background: var(--light-red);
}

.timeline-pattern-overlay {
  opacity: 0.8;
}

.timeline-sidebar-button {
  color: #aaa;
}

.timeline-sidebar-button-enabled {
  color: var(--black);
}

.timeline-sidebar-button-enabled:active {
  color: var(--white);
  background: var(--dark-orange);
}

.timeline-pattern-menu {
  display: block;
  border: 2px solid var(--border-color);
  border-radius: 0.75rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background: var(--lighter-gray);
  pointer-events: auto;
}

.timeline-pattern-menu-arrow-container {
  position: relative;
  display: block;
  width: 2.0rem;
  height: 1.0rem;
  margin-top: -2px;
}

.timeline-pattern-menu-arrow-outline {
  position: absolute;
  bottom: 0;
  width: 0;
  border-width: 1.0rem 1.0rem 0 1.0rem;
  border-style: solid;
  border-color: var(--border-color) transparent transparent transparent;
  pointer-events: auto;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
}

.timeline-pattern-menu-arrow-fill {
  position: absolute;
  top: 0;
  left: 3px;
  width: 0;
  border-width: 0.8125rem 0.8125rem 0 0.8125rem;
  border-style: solid;
  border-color: var(--lighter-gray) transparent transparent transparent;
}

.expanded {
  width: 200px;
}

.expanded > li > .short-name {
  display: none;
}

.contracted > li > input {
  display: none;
}

.contracted > li > .sequencer-name-container,
.contracted > li > .sequencer-volume-container {
  display: none;
}


/* Instrument editor */

.instrument-panel {
  min-width: 600px;
}

@media (max-width: 768px) {
  .instrument-panel-container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .instrument-panel {
    flex: 1;
    min-width: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;
  }
}


/* Pattern editor */

.pane-tab-unselected {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--border-color);
}

.pane-tab-selected {
  border-bottom: 4px solid var(--orange);
}

.note-container {
  flex: 1;
  min-width: 3.0rem;
  box-sizing: border-box;
  padding: 1px;
}

.note-column-header {
  color: #ccc;
}

.note-box {
  display: block;
  height: 2.0rem;
  width: calc(100% - 4px);
  text-align: center;
  border: 1px solid var(--border-color);
  margin: 1px;
  font-size: 1.0rem;
  font-weight: normal;
  line-height: 2.0rem;
  outline: none;
}

.note-box-focused {
  background: var(--light-orange);
  border: 2px solid var(--orange);
  margin: 0;
}

.note-box-invalid {
  background: var(--light-red);
  border: 2px solid var(--red);
  margin: 0;
}


/* Other */

.indented {
  padding-left: 1.0rem;
}

.lightText { color: #aaa; }

@media (max-width: 480px) {
  .indented {
    padding-left: 0;
  }
}
