.list-style-none { list-style-type: none; }

.h2 { font-size: 3.0rem; }
.h3 { font-size: 1.5rem; }
.h4 { font-size: 1.0rem; }

.lh-2 { line-height: 3.0rem; }
.lh-3 { line-height: 1.5rem; }
.lh-4 { line-height: 1.0rem; }

.m0  { margin: 0; }
.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
.mr-half { margin-right: var(--size-half); }
.mt1 { margin-top: var(--size-1); }
.mr1 { margin-right: var(--size-1); }
.mb1 { margin-bottom: var(--size-1); }
.ml1 { margin-left: var(--size-1); }
.mt3 { margin-top: var(--size-3); }

.pl0 { padding-left: 0; }
.pt-half { padding-top: var(--size-half); }
.pb-half { padding-bottom: var(--size-half); }
.pl-half { padding-left: var(--size-half); }
.pr-half { padding-right: var(--size-half); }
.p1 { padding: var(--size-1); }
.pl1 { padding-left: var(--size-1); }
.pr1 { padding-right: var(--size-1); }
.pt1 { padding-top: var(--size-1); }
.pb1 { padding-bottom: var(--size-1); }

.pr-half-safe { padding-right: var(--size-half); }
.pl1-safe { padding-left: var(--size-1); }
.pr1-safe { padding-right: var(--size-1); }

@supports(padding: max(0px)) {
  .pr-half-safe { padding-right: max(0.75rem, env(safe-area-inset-right)); }
  .pl1-safe { padding-left: max(1.5rem, env(safe-area-inset-left)); }
  .pr1-safe { padding-right: max(1.5rem, env(safe-area-inset-right)); }
}

.relative { position: relative; }
.absolute { position: absolute; }

.t0 { top: 0; }
.b0 { bottom: 0; }
.r0 { right: 0; }

.b-all { border: 1px solid var(--border-color); }
.bb  { border-bottom: 1px solid var(--border-color); }
.bl  { border-left: 1px solid var(--border-color); }
.br  { border-right: 1px solid var(--border-color); }

.bt-thick { border-top: 2px solid var(--border-color); }

.outline-none { outline: none; }

.center { text-align: center; }
.vertical-top { vertical-align: top; }

.round { border-radius: 50%; }

.bold { font-weight: bold; }

.flex { display: flex; }
.block { display: block; }
.inline-block { display: inline-block; }
.display-none { display: none; }

.flex-uniform-size { flex: 1; }
.flex-column { flex-direction: column; }
.flex-align-center { align-items: center; }
.flex-align-end { align-items: flex-end; }
.flex-justify-center { justify-content: center; }
.flex-justify-end { justify-content: flex-end; }
.flex-justify-space-between { justify-content: space-between; }

.overflow-hidden { overflow: hidden; }
.overflow-scroll-x { overflow-x: scroll; }
.overflow-ellipsis { text-overflow: ellipsis; }

.border-box { box-sizing: border-box; }

.whitespace-wrap-none { white-space: nowrap; }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }

.pointer-events-none { pointer-events: none; }

.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.width-1 { width: var(--size-1); }
.width-2 { width: var(--size-2); }
.width-3 { width: var(--size-3); }
.full-width { width: 100%; }
.full-height { height: 100%; }
.height-1 { height: var(--size-1); }
.height-2 { height: var(--size-2); }
.height-3 { height: var(--size-3); }

.bg-black { background: var(--black); }
.bg-orange { background: var(--orange); }
.bg-light-orange { background: var(--light-orange); }
.red { color: var(--red); }
.bg-light-red { background: var(--light-red); }
.bg-red { background: var(--red); }
.bg-light-gray { background: var(--light-gray); }
.bg-lighter-gray { background: var(--lighter-gray); }
.white { color: var(--white); }

@media (min-width: 769px) {
  .block-l { display: block; }
  .inline-l { display: inline; }
  .display-none-l { display: none; }

  .ml-half-l { margin-left: var(--size-half); }
  .mr1-l { margin-right: var(--size-1); }

  .pr1-l { padding-right: var(--size-1); }

  .br-l { border-right: 1px solid var(--border-color); }
}
