input[type="text"] {
  font-family: var(--font-family);
  font-size: 1.20rem;
  font-weight: 300;
  color: var(--black);
  padding: 0;
}

input[type="text"]:disabled {
  color: var(--border-color);
  background: var(--white);   /* Prevent gray background in Firefox */
}

input[type="range"] {
  -webkit-appearance: none;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background-color: #ccc;
}

input[type="range"]::-moz-range-track {
  height: 2px;
  background-color: #ccc;
}

input[type="range"]::-ms-track {
  height: 2px;
  background-color: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: calc(-0.75rem + 1px);
  border-radius: 50%;
  background: var(--black);
  border: 0;
  box-shadow: none;  /* Remove shadows added in iOS/iPadOS 15 */
}

input[type="range"]::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--black);
  border: 0;
}

input[type="range"]::-ms-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--black);
  border: 0;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: var(--orange);
}

input[type="range"]::-moz-range-thumb:active {
  background: var(--orange);
}

input[type="range"]::-ms-thumb:active {
  background: var(--orange);
}

@media (hover) {
  input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--orange);
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: var(--orange);
  }

  input[type="range"]::-ms-thumb:hover {
    background: var(--orange);
  }
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

button {
  outline: none;
  font-size: 1.0rem;
  font-family: var(--font-family);
  cursor: pointer;
  margin: 0;
}

button:disabled {
  border-color: var(--border-color);
  color: var(--border-color);
  cursor: default;
}

.button-link {
  background: none;
  color: var(--link-color);
  border: 0;
  font-weight: 300;
  text-decoration: underline;
  padding-left: 0;
  padding-right: 0;
}

.button-standard {
  background: var(--white);
  color: var(--black);
  border-style: solid;
  border-color: #ccc;
}

@media (hover) {
  .button-standard:enabled:hover {
    background: var(--light-orange);
    border-color: var(--orange);
    color: var(--orange);
  }
}

.button-standard-tiny {
  border-radius: 0.25rem;
  border-width: 2px;
  padding: 0.0rem 0.5rem;
}

.button-standard-small {
  border-radius: 0.5rem;
  border-width: 2px;
  padding: 0.25rem 0.5rem;
}

.button-standard-full {
  border-radius: 0.75rem;
  border-width: 3px;
  padding: var(--size-half);
}

.button-standard-toggled {
  background: var(--orange);
  border-color: var(--orange);
  color: var(--white);
}

button.button-standard-error:disabled {
  background: var(--white);
  border-style: solid;
  border-color: var(--light-red);
  color: var(--light-red);
}

.button-standard-tab-list {
  border-width: 3px 1.5px;
  padding: var(--size-half);
}

.button-standard-tab-list:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
  border-left-width: 3px;
}

.button-standard-tab-list:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
  border-right-width: 3px;
}

.input-underlined {
  outline: none;
  border: solid var(--black);
  border-width: 0 0 1px 0;
  border-radius: 0;  /* For iOS */
}

.input-underlined:disabled {
  border-color: var(--border-color);
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control-label {
  width: 30%;
  box-sizing: border-box;
}

.control input[type="range"] {
  flex: 1;
}

.control-value {
  width: 5.0rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .control {
    align-items: flex-start;
  }

  .control-label {
    width: 35%;
  }

  .control input[type="range"] {
    margin-bottom: calc(0.75rem - 1px);
  }
}

@media (max-width: 480px) {
  .control {
    flex-wrap: wrap;
  }

  .control-label {
    order: 0;
    width: auto;
  }

  .control-value {
    order: 1;
  }

  .control input[type="range"] {
    order: 2;
    flex: 0 0 100%;
    margin-bottom: calc(1.0rem - 1px);
  }
}




/* Keyboard */
.keyboard-outer-container {
  height: 11.0rem;
}

.keyboard-scroll-button {
  background: #c1c1c1;
  flex: 0 0 40px;
}

@media (hover) {
  .keyboard-scroll-button:hover {
    background: #a1a1a1;
  }
}

.keyboard-keys-container {
  display: flex;
  overflow-x: hidden;
  background: var(--white);
}

.keyboard-key {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;  /* Center white key labels */
  font-size: 1.0rem;
  line-height: 1.5rem;
  text-align: center;  /* Center black key labels */
  cursor: default;  /* Prevent I-beam cursor in Safari when hovering over key label */
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.keyboard-white-key {
  width: 3.5rem;
  border: solid var(--black);
  border-width: 2px 1px;
  background: var(--white);
  color: var(--black);
}

.keyboard-white-key:first-child {
  border-left-width: 2px;
}

.keyboard-white-key:last-child {
  border-right-width: 2px;
}

.keyboard-black-key {
  background: var(--black);
  height: 60%;
  width: 2.5rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  z-index: 2;
  color: var(--white);
  border: 2px solid var(--black);
}

.keyboard-key-root-indicator {
  border-radius: 6px;
  padding: 0.0rem 0.25rem;
  background: var(--red);
  color: var(--white);
  font-size: 0.75rem;
  pointer-events: none;
}

.keyboard-key.pressed {
  background: var(--orange);
}
.keyboard-scroll-button.pressed {
  background: var(--orange);
}

@media (min-width: 768px) {
  .keyboard-outer-container {
    height: 15.0rem;
    margin-left: 0;
    margin-right: 0;
  }

  .keyboard-keys-container {
    background: none;
  }

  .keyboard-white-key {
    width: 4.0rem;
  }

  .keyboard-black-key {
    width: 3.0rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .keyboard-key-root-indicator {
    font-size: 1.0rem;
  }
}
