input[type="text"] {
  font-family: $font-family;
  font-size: 1.20rem;
  font-weight: 300;
  color: $black;
  padding: 0;
}

input[type="text"]:disabled {
  color: $border-color;
  background: $white;   /* Prevent gray background in Firefox */
}

input[type="range"] {
  -webkit-appearance: none;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background-color: #ccc;
}

input[type="range"]::-moz-range-track {
  height: 2px;
  background-color: #ccc;
}

input[type="range"]::-ms-track {
  height: 2px;
  background-color: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: calc(-0.75rem + 1px);
  border-radius: 50%;
  background: $black;
  border: 0;
}

input[type="range"]::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: $black;
  border: 0;
}

input[type="range"]::-ms-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: $black;
  border: 0;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active
{
  background: $orange;
}

input[type="range"]::-moz-range-thumb:hover,
input[type="range"]::-moz-range-thumb:active
{
  background: $orange;
}

input[type="range"]::-ms-thumb:hover,
input[type="range"]::-ms-thumb:active
{
  background: $orange;
}

input[type="range"]:disabled::-webkit-slider-thumb,
input[type="range"]:disabled::-webkit-slider-thumb:hover,
input[type="range"]:disabled::-webkit-slider-thumb:active
{
  background: #ccc;
}

input[type="range"]:disabled::-moz-range-thumb,
input[type="range"]:disabled::-moz-range-thumb:hover,
input[type="range"]:disabled::-moz-range-thumb:active
 {
  background: #ccc;
}

input[type="range"]:disabled::-ms-thumb,
input[type="range"]:disabled::-ms-thumb:hover,
input[type="range"]:disabled::-ms-thumb:active
 {
  background: #ccc;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

button {
  border: solid #ddd;
  background: #ddd;
  outline: none;
  font-size: 1.0rem;
  font-family: $font-family;
  color: $black;
  cursor: pointer;
  margin: 0;
}

button:disabled {
  border-color: $border-color;
  color: $border-color;
  cursor: default;
}

button.button-error:disabled {
  background: $white;
  border-color: $light-red;
  color: $light-red;
}

.button-tiny {
  border-radius: 0.25rem;
  border-width: 2px;
  padding: 0.0rem 0.5rem;
}

.button-small {
  border-radius: 0.5rem;
  border-width: 2px;
  padding: 0.25rem 0.5rem;
}

.button-full {
  border-radius: 0.75rem;
  border-width: 3px;
  padding: $size-half;
}

.button-hollow {
  background: $white;
  border-color: #ccc;
}

.button-enabled, .button-enabled:hover {
  background: $orange;
  border-color: $orange;
  color: $white;
}

.button-tab-list {
  border-width: 3px 1.5px;
  padding: $size-half;
}

.button-tab-list:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
  border-left-width: 3px;
}

.button-tab-list:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
  border-right-width: 3px;
}

.button-link {
  background: none;
  color: $link-color;
  border: 0;
  font-size: 1.0rem;
  font-weight: 300;
  text-decoration: underline;
  padding-left: 0;
  padding-right: 0;
}

.input-underlined {
  outline: none;
  border: solid $black;
  border-width: 0 0 1px 0;
  border-radius: 0;  /* For iOS */
}

.input-underlined:disabled {
  border-color: $border-color;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control-label {
  width: 30%;
  box-sizing: border-box;
}

.control input[type="range"] {
  flex: 1;
}

.control-value {
  width: 5.0rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .control {
    align-items: flex-start;
  }

  .control-label {
    width: 35%;
  }

  .control input[type="range"] {
    margin-bottom: calc(0.75rem - 1px);
  }
}

@media (max-width: 480px) {
  .control {
    flex-wrap: wrap;
  }

  .control-label {
    order: 0;
    width: auto;
  }

  .control-value {
    order: 1;
  }

  .control input[type="range"] {
    order: 2;
    flex: 0 0 100%;
    margin-bottom: calc(1.0rem - 1px);
  }
}

@media (hover) {
  .button-hollow:enabled:hover {
    background: $light-orange;
    border-color: $orange;
    color: $orange;
  }
}




/* Keyboard */
.keyboard-outer-container {
  height: 11.0rem;
  overflow: hidden;
}

.keyboard-scroll-button {
  background: #c1c1c1;
  flex: 0 0 40px;
}

.keyboard-scroll-button:hover {
  background: #a1a1a1;
}

.keyboard-keys-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
  background: $white;
}

.keyboard-key {
  flex-shrink: 0;
  position: relative;
}

.keyboard-white-key {
  box-sizing: border-box;
  width: 3.5rem;
  border-style: solid;
  border-color: $black;
  border-width: 1px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  background: $white;
  color: $black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.keyboard-white-key:first-child {
  border-left-width: 2px;
}

.keyboard-white-key:last-child {
  border-right-width: 2px;
}

.keyboard-key-label {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center white key labels */
  line-height: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.0rem;
  text-align: center;  /* Center black key labels */
  pointer-events: none;
}

.keyboard-key-root-indicator {
  border-radius: 6px;
  padding: 0.0rem 0.25rem;
  background: $red;
  color: $white;
  font-size: 0.75rem;
}

.keyboard-black-key {
  box-sizing: border-box;
  background: $black;
  height: 60%;
  width: 2.5rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  z-index: 2;
  color: $white;
  border: 2px solid $black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.keyboard-key.pressed {
  background: $orange;
}
.keyboard-scroll-button.pressed {
  background: $orange;
}

@media (min-width: 768px) {
  .keyboard-outer-container {
    height: 15.0rem;
    margin-left: 0;
    margin-right: 0;
  }

  .keyboard-keys-container {
    background: none;
  }

  .keyboard-white-key {
    width: 4.0rem;
  }

  .keyboard-black-key {
    width: 3.0rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .keyboard-key-root-indicator {
    font-size: 1.0rem;
  }
}
