<div class="pr1 br instrument-panel">
<h2 class="h3 section-header">Sound Generator</h2>
<span class="control">
  <label class="control-label">Waveform 1:</label>
  <span class="flex waveformOptionsContainer">
    <span class="radioContainer">
      <input id="waveformSine" ng-model="instrument.waveform1" ng-change="updateInstrument();" value="sine" type="radio">
      <label for="waveformSine" class="radioLabel">Sine</label>
    </span>
    <span class="radioContainer">
      <input id="waveformSquare" ng-model="instrument.waveform1" ng-change="updateInstrument();" value="square" type="radio">
      <label for="waveformSquare" class="radioLabel">Square</label>
    </span>
    <span class="radioContainer">
      <input id="waveformSaw" ng-model="instrument.waveform1" ng-change="updateInstrument();" value="sawtooth" type="radio">
      <label for="waveformSaw" class="radioLabel">Saw</label>
    </span>
    <span class="radioContainer">
      <input id="waveformTriangle" ng-model="instrument.waveform1" ng-change="updateInstrument();" value="triangle" type="radio">
      <label for="waveformTriangle" class="radioLabel">Triangle</label>
    </span>
  </span>
</span>
<span class="control">
  <label class="control-label">Octave:</label>
  <span class="annotated-input">
    <input ng-model="instrument.waveform1Octave" ng-change="updateInstrument();" type="range" min="-2" max="2" step="1" />
    <span>{{instrument.waveform1Octave}}</span>
  </span>
</span>
<span class="control">
  <label class="control-label">Waveform 2:</label>
  <span class="flex waveformOptionsContainer">
    <span class="radioContainer">
      <input id="waveformSine2" ng-model="instrument.waveform2" ng-change="updateInstrument();" value="sine" type="radio">
      <label for="waveformSine2" class="radioLabel">Sine</label>
    </span>
    <span class="radioContainer">
      <input id="waveformSquare2" ng-model="instrument.waveform2" ng-change="updateInstrument();" value="square" type="radio">
      <label for="waveformSquare2" class="radioLabel">Square</label>
    </span>
    <span class="radioContainer">
      <input id="waveformSaw2" ng-model="instrument.waveform2" ng-change="updateInstrument();" value="sawtooth" type="radio">
      <label for="waveformSaw2" class="radioLabel">Saw</label>
    </span>
    <span class="radioContainer">
      <input id="waveformTriangle2" ng-model="instrument.waveform2" ng-change="updateInstrument();" value="triangle" type="radio">
      <label for="waveformTriangle2" class="radioLabel">Triangle</label>
    </span>
  </span>
</span>
<span class="control">
  <label class="control-label">Octave:</label>
  <span class="annotated-input">
    <input ng-model="instrument.waveform2Octave" ng-change="updateInstrument();" type="range" min="-2" max="2" step="1" />
    <span>{{instrument.waveform2Octave}}</span>
  </span>
</span>
<span class="control">
  <label class="control-label">Detune:</label>
  <span class="annotated-input">
    <input ng-model="instrument.waveform2Detune" ng-change="updateInstrument();" type="range" min="-100" max="100" step="1" />
    <span>{{instrument.waveform2Detune}}c</span>
  </span>
</span>

<span class="block mt1 lightText">Pitch Wobble:</span>
<span class="control">
  <label class="control-label indented">Amount:</label>
  <span class="annotated-input">
    <input ng-model="instrument.lfoAmplitude" ng-change="updateInstrument();" type="range" min="0" max="100" step="1" />
    <span>{{instrument.lfoAmplitude}}Hz</span>
  </span>
</span>
<span class="control">
  <label class="control-label indented">Rate:</label>
  <span class="annotated-input">
    <input ng-model="instrument.lfoFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{instrument.lfoFrequency}}Hz</span>
  </span>
</span>
<span class="control">
  <label class="control-label indented">Waveform:</label>
  <span class="flex waveformOptionsContainer">
    <span class="radioContainer">
      <input id="lfoWaveformSine" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="sine" type="radio">
      <label for="lfoWaveformSine" class="radioLabel">Sine</label>
    </span>
    <span class="radioContainer">
      <input id="lfoWaveformSquare" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="square" type="radio">
      <label for="lfoWaveformSquare" class="radioLabel">Square</label>
    </span>
    <span class="radioContainer">
      <input id="lfoWaveformSaw" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="sawtooth" type="radio">
      <label for="lfoWaveformSaw" class="radioLabel">Saw</label>
    </span>
    <span class="radioContainer">
      <input id="lfoWaveformTriangle" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="triangle" type="radio">
      <label for="lfoWaveformTriangle" class="radioLabel">Triangle</label>
    </span>
  </span>
</span>
</div>
<div class="pl1 pr1 br border-box instrument-panel">
<h2 class="h3 section-header">Filter</h2>
<span class="control">
  <label class="control-label">Cutoff:</label>
  <span class="annotated-input"> 
    <input ng-model="instrument.filterCutoff" ng-change="updateInstrument();" type="range" min="50" max="9950" step="50" />
    <span>{{instrument.filterCutoff}}Hz</span>
  </span>
</span>
<span class="control">
  <label class="control-label">Resonance:</label>
  <span class="annotated-input">
    <input ng-model="instrument.filterResonance" ng-change="updateInstrument();" type="range" min="0" max="20" step="1.0" />
    <span>{{instrument.filterResonance}}</span>
  </span>
</span>
<span class="block mt1 lightText">Cutoff Wobble:</span>
<span class="control">
  <label class="control-label indented">Amount:</label>
  <span class="annotated-input">
    <input ng-model="instrument.filterLFOAmplitude" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(instrument.filterLFOAmplitude * 100) | number:0}}%</span>
  </span>
</span>
<span class="control">
  <label class="control-label indented">Rate:</label>
  <span class="annotated-input">
    <input ng-model="instrument.filterLFOFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{instrument.filterLFOFrequency}}Hz</span>
  </span>
</span>
<span class="control">
  <label class="control-label indented">Waveform:</label>
  <span class="flex waveformOptionsContainer">
    <span class="radioContainer">
      <input id="filterLFOWaveformSine" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="sine" type="radio">
      <label for="filterLFOWaveformSine" class="radioLabel">Sine</label>
    </span>
    <span class="radioContainer">
      <input id="filterLFOWaveformSquare" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="square" type="radio">
      <label for="filterLFOWaveformSquare" class="radioLabel">Square</label>
    </span>
    <span class="radioContainer">
      <input id="filterLFOWaveformSaw" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="sawtooth" type="radio">
      <label for="filterLFOWaveformSaw" class="radioLabel">Saw</label>
    </span>
    <span class="radioContainer">
      <input id="filterLFOWaveformTriangle" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="triangle" type="radio">
      <label for="filterLFOWaveformTriangle" class="radioLabel">Triangle</label>
    </span>
  </span>
</span>
</div>
<div class="pl1 border-box instrument-panel">
<h2 class="h3 section-header">Envelope</h2>
<span class="control">
  <label class="control-label">Attack Speed:</label>
  <span class="annotated-input">
    <input ng-model="instrument.envelopeAttack" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{instrument.envelopeAttack * 1000}} ms</span>
  </span>
</span>
<span class="control">
  <label class="control-label">Decay Speed:</label>
  <span class="annotated-input">
    <input ng-model="instrument.envelopeDecay" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{instrument.envelopeDecay * 1000}} ms</span>
  </span>
</span>
<span class="control">
  <label class="control-label">Sustain Volume:</label>
  <span class="annotated-input">
    <input ng-model="instrument.envelopeSustain" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(instrument.envelopeSustain * 100) | number:0}}%</span>
  </span>
</span>
<span class="control">
  <label class="control-label">Release Speed:</label>
  <span class="annotated-input">
    <input ng-model="instrument.envelopeRelease" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{instrument.envelopeRelease * 1000}} ms</span>
  </span>
</span>
</div>
