body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 20px;
  background: #ebebeb;
  color: #130f30;
  line-height: 1.5em;
  font-weight: 300;
}

#container {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1.5em solid #130f30;
  padding: 3.0em;
  width: 850px;
  max-width: 100%;
  overflow: auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 50px;
}

h1 {
  font-size: 6.0rem;
  line-height: 6.0rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #c00;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 4.5rem;
}

label {
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
}

label.radioLabel {
  width: auto;
  margin-right: 0.75em;
}

.section-header {
  display: block;
  font-style: italic;
  color: #aaa;
  margin-top: 1.5rem;
}

.indented {
  padding-left: 1.0rem;
}

input[type='text'] {
  font-family:"Helvetica Neue", arial, sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
}

input[type='radio'] {
  width: auto;
  -webkit-appearance: none;
  border-radius: 10px;
  width: 1.0rem;
  height: 1.0rem;
  outline: none;
  border: 2px solid #130f30;
  box-sizing: border-box;
  vertical-align: text-top;
}

input[type='radio']:unchecked {

}

input[type='radio']:checked {
  background-color: #130f30;
}

input[type='range'] {
  background-color: #ccc;
  -webkit-appearance: none;
  height: 1.5em;
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  background: #130f30;
  width: 3.0em;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #c00;
}

input[type='range']::-webkit-slider-thumb:active {
  background: #f24;
}

input[type='range']::-moz-range-thumb {
  height: 1.5em;
  background: #130f30;
  width: 3.0em;
  border: 0;
  border-radius: 10px;
}

input[type='range']::-moz-range-thumb:hover {
  background: #c00;
}

input[type='range']::-moz-range-thumb:active {
  background: #f24;
}

input[type='range']::-moz-range-track {
  display: none;
  background: #ccc;
  border: 0;
  outline: none;
}

input {
  width: 45%;
}

select {
  width: 45%;
}

ul.sequencer {
  margin: 0 0 1.5rem 0;
  padding: 0;
  overflow-x: scroll;
  white-space: nowrap;
}

ul.sequencer li {
  list-style-type: none;
  width: 12.5%;
  min-width: 4.0em;
  display: inline-block;
}

input.note {
  width: 90%;
  text-align: center;
  outline: none;
  padding: 0;
  margin: 0;
}

input.note:focus {
  background: #ebebeb;
}

button {
  background: #ccc;
  border: 0;
  outline: none;
  font-size: 1.5rem;
  padding: 0.75rem;
  font-family:"Helvetica Neue", arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  color: #130f30;
  float: right;
}

.enabled {
  background: orange;
  color: #fff;
}

#tempoContainer {
  width: 65%;
  display: inline-block;
}

#tempoContainer label {
  width: 25%;
  line-height: 3.75rem;
}

#loopContainer {
  display: inline-block;
}

#loopContainer input[type='checkbox'] {
  outline: none;
  height: 1.5em;
  width: 1.5em;
}

#loopContainer label {
  display: inline;
}

#footer {
  text-align: center;
}

@media (max-width: 1024px) {
  body {
    background: #fff;
  }

  #container {
    border: 0;
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  body {
    margin: 1.5rem;
  }

  #container {
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  label {
    width: 35%;
  }

  input {
    width: 45%;
  }

  .radioContainer {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
  }


  #tempoContainer {
    width: 100%;
    display: inline-block;
  }

  #tempoContainer label {
    width: 30%;
    line-height: 1.5rem;
  }
}

@media (max-width: 480px) {
  body {
    margin: 1.0rem;
  }

  h1 {
    text-align: center;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  label {
    width: 100%;
  }

  .indented {
    padding-left: 0;
  }

  input {
    width: 70%;
  }

  button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}
