<!DOCTYPE html>
<html lang="en" ng-app="js100">
<head>
  <title>JS-100</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="all" href="js100.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="lib/AudioContextMonkeyPatch.js"></script>
  <script src="src/app.js"></script>
  <script src="src/jssynth.js"></script>
</head>
<body ng-controller="controller">
<div id="container">
  <h1>JS-100</h1>
  <div>
    <h2>Base Sound</h2>
    <label>Waveform:</label>
    <select ng-model="waveform" ng-change="updateInstrument();">
      <option value="sine">Sine
      <option value="square">Square
      <option value="sawtooth">Saw
      <option value="triangle">Triangle
    </select>
    <label>Volume:</label>
    <input ng-model="amplitude" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(amplitude * 100) | number:0}}%</span>
    <span class="section-header">Wobble:</span>
    <label class="indented">Amount:</label>
    <input ng-model="lfoAmplitude" ng-change="updateInstrument();" type="range" />
    <span>{{lfoAmplitude}}Hz</span>
    <label class="indented">Rate:</label>
    <input ng-model="lfoFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{lfoFrequency}}Hz</span>
    <label class="indented">Waveform:</label>
    <select ng-model="lfoWaveform" ng-change="updateInstrument();">
      <option value="sine">Sine
      <option value="square">Square
      <option value="sawtooth">Saw
      <option value="triangle">Triangle
    </select>
  </div>
  <div>
    <h2>Filter</h2>
    <label>Cutoff:</label>
    <input ng-model="filterCutoff" ng-change="updateInstrument();" type="range" min="100" max="9999" />
    <span>{{filterCutoff}}Hz</span>
    <label>Resonance:</label>
    <input ng-model="filterResonance" ng-change="updateInstrument();" type="range" min="0" max="20" step="1.0" />
    <span>{{filterResonance}}</span>
    <span class="section-header">Wobble:</span>
    <label class="indented">Amount:</label>
    <input ng-model="filterLFOAmplitude" ng-change="updateInstrument();" type="range" min="0" max="500" step="10" />
    <span>{{filterLFOAmplitude}}Hz</span>
    <label class="indented">Rate:</label>
    <input ng-model="filterLFOFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{filterLFOFrequency}}Hz</span>
    <label class="indented">Waveform:</label>
    <select ng-model="filterLFOWaveform" ng-change="updateInstrument();">
      <option value="sine">Sine
      <option value="square">Square
      <option value="sawtooth">Saw
      <option value="triangle">Triangle
    </select>
  </div>
  <div>
    <h2>Envelope</h2>
    <label>Attack Speed:</label>
    <input ng-model="envelopeAttack" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{envelopeAttack * 1000}} ms</span>
    <label>Decay Speed:</label>
    <input ng-model="envelopeDecay" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{envelopeDecay * 1000}} ms</span>
    <label>Sustain Volume:</label>
    <input ng-model="envelopeSustain" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(envelopeSustain * 100) | number:0}}%</span>
    <label>Release Speed:</label>
    <input ng-model="envelopeRelease" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{envelopeRelease * 1000}} ms</span>
  </div>
  <div>
    <h2>Sequencer</h2>
    <ul class="sequencer">
      <li ng-repeat="note in notes">
        <input note-input class="note" ng-model="note.name" ng-blur="updateNotes();" maxlength="4" type="text" />
      </li>
    </ul> 
    <div>
      <span id="tempoContainer">
        <label>Tempo:</label>
        <input ng-model="tempo" ng-change="updateTempo();" type="range" min="30" max="255" />
        <span>{{tempo}} bpm</span>
      </span>
      <span id="loopContainer">
        <label for="loop">Loop:</label>
        <input id="loop" ng-model="loop" ng-change="updateLoop();" type="checkbox" />
      </span>
      <button app-transport-toggle>Play</button>
    </div>
  </div>
</div>
<p id="footer">Made By <a href="http://www.joelstrait.com">Joel Strait</a>, &copy; 2014</p>
</body>
</html>
