<!DOCTYPE html>
<html lang="en" ng-app="js110">
<head>
  <title>JS-110</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="all" href="/jssynth.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/lib/AudioContextMonkeyPatch.js"></script>
  <script src="/src/app.js"></script>
  <script src="/src/jssynth.js"></script>
</head>
<body ng-controller="controller">
<div id="container">
  <h1 class="logo">JS-110</h1>
  <span class="tagline">High Resolution Web Synthesizer</span>
  <div>
    <h2 class="section-header">Sound Generator</h2>
    <label class="waveform">Waveform:</label>
    <span class="waveformOptionsContainer">
      <span class="radioContainer"><input id="waveformSine" ng-model="waveform" ng-change="updateInstrument();" value="sine" type="radio"> <label for="waveformSine" class="radioLabel">Sine</label></span><span class="radioContainer"><input id="waveformSquare" ng-model="waveform" ng-change="updateInstrument();" value="square" type="radio"> <label for="waveformSquare" class="radioLabel">Square</label></span><span class="radioContainer"><input id="waveformSaw" ng-model="waveform" ng-change="updateInstrument();" value="sawtooth" type="radio"> <label for="waveformSaw" class="radioLabel">Saw</label></span><span class="radioContainer"><input id="waveformTriangle" ng-model="waveform" ng-change="updateInstrument();" value="triangle" type="radio"> <label for="waveformTriangle" class="radioLabel">Triangle</label></span>
    </span>
    <label>Volume:</label>
    <input ng-model="amplitude" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(amplitude * 100) | number:0}}%</span>
    <span class="sub-section-header">Pitch Wobble:</span>
    <label class="indented">Amount:</label>
    <input ng-model="lfoAmplitude" ng-change="updateInstrument();" type="range" min="0" max="100" step="1" />
    <span>{{lfoAmplitude}}Hz</span>
    <label class="indented">Rate:</label>
    <input ng-model="lfoFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{lfoFrequency}}Hz</span>
    <label class="indented waveform">Waveform:</label>
    <span class="waveformOptionsContainer">
      <span class="radioContainer"><input id="lfoWaveformSine" ng-model="lfoWaveform" ng-change="updateInstrument();" value="sine" type="radio"> <label for="lfoWaveformSine" class="radioLabel">Sine</label></span><span class="radioContainer"><input id="lfoWaveformSquare" ng-model="lfoWaveform" ng-change="updateInstrument();" value="square" type="radio"> <label for="lfoWaveformSquare" class="radioLabel">Square</label></span><span class="radioContainer"><input id="lfoWaveformSaw" ng-model="lfoWaveform" ng-change="updateInstrument();" value="sawtooth" type="radio"> <label for="lfoWaveformSaw" class="radioLabel">Saw</label></span><span class="radioContainer"><input id="lfoWaveformTriangle" ng-model="lfoWaveform" ng-change="updateInstrument();" value="triangle" type="radio"> <label for="lfoWaveformTriangle" class="radioLabel">Triangle</label></span>
    </span>
  </div>
  <div>
    <h2 class="section-header">Filter</h2>
    <label>Cutoff:</label>
    <input ng-model="filterCutoff" ng-change="updateInstrument();" type="range" min="100" max="9999" step="50" />
    <span>{{filterCutoff}}Hz</span>
    <label>Resonance:</label>
    <input ng-model="filterResonance" ng-change="updateInstrument();" type="range" min="0" max="20" step="1.0" />
    <span>{{filterResonance}}</span>
    <span class="sub-section-header">Cutoff Wobble:</span>
    <label class="indented">Amount:</label>
    <input ng-model="filterLFOAmplitude" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(filterLFOAmplitude * 100) | number:0}}%</span>
    <label class="indented">Rate:</label>
    <input ng-model="filterLFOFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{filterLFOFrequency}}Hz</span>
    <label class="indented waveform">Waveform:</label>
    <span class="waveformOptionsContainer">
      <span class="radioContainer"><input id="filterLFOWaveformSine" ng-model="filterLFOWaveform" ng-change="updateInstrument();" value="sine" type="radio"> <label for="filterLFOWaveformSine" class="radioLabel">Sine</label></span><span class="radioContainer"><input id="filterLFOWaveformSquare" ng-model="filterLFOWaveform" ng-change="updateInstrument();" value="square" type="radio"> <label for="filterLFOWaveformSquare" class="radioLabel">Square</label></span><span class="radioContainer"><input id="filterLFOWaveformSaw" ng-model="filterLFOWaveform" ng-change="updateInstrument();" value="sawtooth" type="radio"> <label for="filterLFOWaveformSaw" class="radioLabel">Saw</label></span><span class="radioContainer"><input id="filterLFOWaveformTriangle" ng-model="filterLFOWaveform" ng-change="updateInstrument();" value="triangle" type="radio"> <label for="filterLFOWaveformTriangle" class="radioLabel">Triangle</label></span>
    </span>
  </div>
  <div>
    <h2 class="section-header">Envelope</h2>
    <label>Attack Speed:</label>
    <input ng-model="envelopeAttack" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{envelopeAttack * 1000}} ms</span>
    <label>Decay Speed:</label>
    <input ng-model="envelopeDecay" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{envelopeDecay * 1000}} ms</span>
    <label>Sustain Volume:</label>
    <input ng-model="envelopeSustain" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(envelopeSustain * 100) | number:0}}%</span>
    <label>Release Speed:</label>
    <input ng-model="envelopeRelease" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{envelopeRelease * 1000}} ms</span>
  </div>
  <div>
    <h2 class="section-header">Sequencer<span class="helperToggleContainer"> - <a class="helperToggle" ng-click="show=!show">Tips and Tricks</a></span></h2>
    <ul class="toggleable" ng-show="show">
      <li>A note is a letter between A and G plus an octave between 0 and 7. For example: <b>A3</b>, <b>C♯4</b>, <b>E♭2</b></li>
      <li>Use # to enter a sharp, and a lowercase b to enter a flat</li>
      <li>Use - to lengthed a note. For example, A4--- will last for 4 steps, while A4 will last for one.</li>
      <li>Press <code>SPACE</code> to clear the current note</li>
      <li>Use the left/right arrow keys to move between notes</li>
    </ul>
    <ul>
      <li ng-repeat="track in tracks">
        <ul class="sequencer">
          <li ng-repeat="note in track.notes">
            <input note-input id="note-{{$index}}" ng-class="{note: true, first: $first, last: $last}" ng-model="note.name" ng-change="updateNotes();" maxlength="4" type="text" />
          </li>
        </ul>
        <button ng-click="removeTrack($index);">X</button>
      </li>
    </ul>
    <button ng-click="addTrack();">Add Track</button>
    <div>
      <label>Tempo:</label>
      <input ng-model="tempo" ng-change="updateTempo();" type="range" min="30" max="255" />
      <span>{{tempo}}</span>
      <button class="{{playing ? 'enabled' : ''}}" ng-click="toggle();">Play</button>
      <button ng-click="export();">Download</button>
    </div>
  </div>
</div>
<p id="footer">Made By <a href="http://www.joelstrait.com">Joel Strait</a>, &copy; 2014-15</p>
<audio id="downloaded-file" controls></audio>
</body>
</html>
