<!DOCTYPE html>
<html lang="en" ng-app="js110">
<head>
  <title>JS-110</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="all" href="jssynth.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="lib/AudioContextMonkeyPatch.js"></script>
  <script src="src/app.js"></script>
  <script src="src/jssynth.js"></script>
</head>
<body ng-controller="controller">
<div id="container">
  <h1 class="logo mt0 mb0">JS-110</h1>
  <span class="tagline">High Resolution Web Synthesizer</span>
  <div ng-repeat="instrument in instruments">
  <div>
    <h2 class="section-header">Sound Generator</h2>
    <label class="waveform">Waveform:</label>
    <span class="waveformOptionsContainer">
      <span class="radioContainer"><input id="waveformSine" ng-model="instrument.waveform" ng-change="updateInstrument();" value="sine" type="radio"> <label for="waveformSine" class="radioLabel">Sine</label></span><span class="radioContainer"><input id="waveformSquare" ng-model="instrument.waveform" ng-change="updateInstrument();" value="square" type="radio"> <label for="waveformSquare" class="radioLabel">Square</label></span><span class="radioContainer"><input id="waveformSaw" ng-model="instrument.waveform" ng-change="updateInstrument();" value="sawtooth" type="radio"> <label for="waveformSaw" class="radioLabel">Saw</label></span><span class="radioContainer"><input id="waveformTriangle" ng-model="instrument.waveform" ng-change="updateInstrument();" value="triangle" type="radio"> <label for="waveformTriangle" class="radioLabel">Triangle</label></span>
    </span>
    <span class="sub-section-header">Pitch Wobble:</span>
    <label class="indented">Amount:</label>
    <input ng-model="instrument.lfoAmplitude" ng-change="updateInstrument();" type="range" min="0" max="100" step="1" />
    <span>{{instrument.lfoAmplitude}}Hz</span>
    <label class="indented">Rate:</label>
    <input ng-model="instrument.lfoFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{instrument.lfoFrequency}}Hz</span>
    <label class="indented waveform">Waveform:</label>
    <span class="waveformOptionsContainer">
      <span class="radioContainer"><input id="lfoWaveformSine" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="sine" type="radio"> <label for="lfoWaveformSine" class="radioLabel">Sine</label></span><span class="radioContainer"><input id="lfoWaveformSquare" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="square" type="radio"> <label for="lfoWaveformSquare" class="radioLabel">Square</label></span><span class="radioContainer"><input id="lfoWaveformSaw" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="sawtooth" type="radio"> <label for="lfoWaveformSaw" class="radioLabel">Saw</label></span><span class="radioContainer"><input id="lfoWaveformTriangle" ng-model="instrument.lfoWaveform" ng-change="updateInstrument();" value="triangle" type="radio"> <label for="lfoWaveformTriangle" class="radioLabel">Triangle</label></span>
    </span>
  </div>
  <div>
    <h2 class="section-header">Filter</h2>
    <label>Cutoff:</label>
    <input ng-model="instrument.filterCutoff" ng-change="updateInstrument();" type="range" min="100" max="9999" step="50" />
    <span>{{instrument.filterCutoff}}Hz</span>
    <label>Resonance:</label>
    <input ng-model="instrument.filterResonance" ng-change="updateInstrument();" type="range" min="0" max="20" step="1.0" />
    <span>{{instrument.filterResonance}}</span>
    <span class="sub-section-header">Cutoff Wobble:</span>
    <label class="indented">Amount:</label>
    <input ng-model="instrument.filterLFOAmplitude" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(instrument.filterLFOAmplitude * 100) | number:0}}%</span>
    <label class="indented">Rate:</label>
    <input ng-model="instrument.filterLFOFrequency" ng-change="updateInstrument();" type="range" min="0.0" max="20.0" step="0.1" />
    <span>{{instrument.filterLFOFrequency}}Hz</span>
    <label class="indented waveform">Waveform:</label>
    <span class="waveformOptionsContainer">
      <span class="radioContainer"><input id="filterLFOWaveformSine" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="sine" type="radio"> <label for="filterLFOWaveformSine" class="radioLabel">Sine</label></span><span class="radioContainer"><input id="filterLFOWaveformSquare" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="square" type="radio"> <label for="filterLFOWaveformSquare" class="radioLabel">Square</label></span><span class="radioContainer"><input id="filterLFOWaveformSaw" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="sawtooth" type="radio"> <label for="filterLFOWaveformSaw" class="radioLabel">Saw</label></span><span class="radioContainer"><input id="filterLFOWaveformTriangle" ng-model="instrument.filterLFOWaveform" ng-change="updateInstrument();" value="triangle" type="radio"> <label for="filterLFOWaveformTriangle" class="radioLabel">Triangle</label></span>
    </span>
  </div>
  <div>
    <h2 class="section-header">Envelope</h2>
    <label>Attack Speed:</label>
    <input ng-model="instrument.envelopeAttack" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{instrument.envelopeAttack * 1000}} ms</span>
    <label>Decay Speed:</label>
    <input ng-model="instrument.envelopeDecay" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{instrument.envelopeDecay * 1000}} ms</span>
    <label>Sustain Volume:</label>
    <input ng-model="instrument.envelopeSustain" ng-change="updateInstrument();" type="range" min="0.0" max="1.0" step="0.01" />
    <span>{{(instrument.envelopeSustain * 100) | number:0}}%</span>
    <label>Release Speed:</label>
    <input ng-model="instrument.envelopeRelease" ng-change="updateInstrument();" type="range" min="0.0" max="0.3" step="0.01" />
    <span>{{instrument.envelopeRelease * 1000}} ms</span>
  </div>
  </div>
  <div>
    <h2 class="section-header">Sequencer<span class="helperToggleContainer"> - <a class="helperToggle underline" ng-click="show=!show">Tips and Tricks</a></span></h2>
    <ul class="toggleable" ng-show="show">
      <li>A note is a letter between A and G plus an octave between 0 and 7. For example: <b>A3</b>, <b>C♯4</b>, <b>E♭2</b></li>
      <li>Use &lsquo;#&rsquo; to enter a sharp, and a lowercase &lsquo;b&rsquo; to enter a flat</li>
      <li>Use &mdash; to lengthen a note. For example, &lsquo;A4&mdash;&mdash;&mdash;&rsquo; will last for 4 steps, while &lsquo;A4&mdash;&rsquo; will last for two, and &lsquo;A4&rsquo; will last for one.</li>
      <li>Press <code>SPACE</code> to clear the current note</li>
      <li>Use the left/right arrow keys to move between notes, and the up/down arrow keys to move between tracks</li>
    </ul>

    <div>
      <ul class="ml0 pl0 inline-block overflow-hidden-x button-mute-track">
        <li class="list-style-none" ng-repeat="track in tracks">
          <button class="button-small full-width {{$parent.tracks[$index].muted ? 'enabled' : ''}}" ng-click="toggleTrackMute($index);">Mute</button>
        </li>
      </ul><ul class="ml0 pl0 inline-block overflow-scroll-x track-notes">
        <li ng-repeat="track in tracks" class="inline-block list-style-none full-width">
          <ul class="ml0 pl0" style="white-space: nowrap;">
            <li class="list-style-none inline-block note-container" ng-repeat="note in track.notes">
              <input note-input id="track-{{$parent.$index}}-note-{{$index}}" ng-class="{note: true, firstTrack: $parent.$first, lastTrack: $parent.$last, firstNote: $first, lastNote: $last}" ng-model="note.name" ng-change="updateNotes();" maxlength="4" type="text" />
             </li>
          </ul>
        </li>
      </ul><ul class="ml0 pl0 inline-block overflow-hidden-x button-delete-track">
        <li class="list-style-none" ng-repeat="track in tracks">
          <button class="button-small full-width" ng-click="removeTrack($index);">X</button>
        </li>
      </ul>
    </div>

    <div class="mb1" style="overflow: auto;">
      <button class="block button-full right" ng-click="addTrack();">Add Track</button>
    </div>
    <div class="mt2 mb0">
      <label>Tempo:</label>
      <input ng-model="tempo" ng-change="updateTempo();" type="range" min="30" max="255" />
      <span>{{tempo}}</span>
      <label>Master Volume:</label>
      <input ng-model="amplitude" ng-change="updateAmplitude();" type="range" min="0.0" max="1.0" step="0.01" />
      <span>{{(amplitude * 100) | number:0}}%</span>
    </div>
    <div class="mt1">
      <button class="button-full right {{playing ? 'enabled' : ''}}" ng-click="toggle();">Play</button>
      <span><input ng-model="downloadFileName" class="underlinedInput" type="text" />.wav</span>
      <button class="button-full" ng-click="export();">Download</button>
      <a id="hidden-download-link" class="display-none" download="output.wav" href=""></a>
    </div>
  </div>
</div>
<p id="footer">Made By <a href="http://www.joelstrait.com">Joel Strait</a>, &copy; 2014-15</p>
<audio id="downloaded-file" controls></audio>
</body>
</html>
