<div class="mb2">
  <ul class="pl0 mt0 mb0">
    <li class="list-style-none inline-block pointer border-box mr1" style="width: 9.0rem;" ng-repeat="patternOption in ctrl.patternOptions" ng-click="ctrl.onChangeSelectedPattern({patternID: patternOption.id})"  ng-class="{paneTabSelected: (patternOption.id === ctrl.selectedPatternId), paneTabUnselected: (patternOption.id !== ctrl.selectedPatternId)}">
      <span style="float: left; width: 7.0rem;">{{patternOption.name}}</span>
      <button class="button-small button-hollow round right" style="padding: 0;" ng-click="ctrl.removePattern(patternOption.id);" ng-class="{'display-none': (ctrl.patternOptions.length <= 1)}">&nbsp;X&nbsp;</button>
    </li>
  </ul>
  <button class="block button-full button-hollow" ng-click="ctrl.onAddPattern()">Add Pattern</button>
</div>
