<h2 class="mt0 mb1 pl1">Sequencer</h2>
<div class="flex">
  <ul class="flex flex-column mt0 ml0 pl0 overflow-scroll-x border-box" ng-class="{expanded: (expanded === true), contracted: (expanded === false)}">
    <li class="list-style-none pl1 border-box bb">
      <span>
        <button class="button-tiny button-hollow" style="width: 40px;" ng-click="toggleExpansion();">{{expansionToggleLabel}}</button>
      </span>
    </li>
    <li class="flex flex-column flex-uniform-size flex-justify-center list-style-none pl1 pr1 border-box bb br" ng-repeat="track in tracks">
      <span class="short-name">{{track.name | limitTo:2}}</span>
      <input class="underlinedInput full-width" ng-model="track.name" ng-change="changeTrackName(track.id);" type="text" />
      <span class="sequencer-volume-container flex flex-align-center">
        <button class="button-hollow button-small {{track.muted ? 'button-enabled' : ''}}" ng-click="toggleTrackMute(track.id);">Mute</button>
        <input class="flex-uniform-size" style="margin-left: 4px; width: 1px;" ng-model="track.volume" ng-change="changeSequencer();" ng-disabled="track.muted" type="range" min="0.0" max="1.0" step="0.01" />
      </span>
    </li>
  </ul>
  <ul class="flex flex-uniform-size flex-column mt0 ml0 pl0 overflow-scroll-x border-box">
    <li class="inline-block list-style-none full-width border-box">
      <ul class="flex ml0 pl0 no-whitespace-wrap">
        <li class="sequencer-cell flex-uniform-size list-style-none border-box bb" ng-model="currentStep" ng-repeat="n in [1,2,3,4,5,6,7,8,]">
          <span class="inline-block center full-width" ng-class="{'sequencer-currentStep': currentStep === n}">{{n}}</span>
        </li>
      </ul>
    </li>
    <li ng-repeat="track in tracks" class="list-style-none full-width height-4 border-box">
      <ul class="flex full-height ml0 pl0 no-whitespace-wrap">
        <li class="sequencer-cell flex-uniform-size full-height list-style-none center border-box bb br" ng-repeat="pattern in track.patterns" ng-init="sequencerIndex = $index" ng-class="{'sequencer-currentStep-light': currentStep === ($index + 1)}">
          <span class="flex flex-align-center full-height pl-half pr-half border-box">
            <select class="full-width" ng-model="pattern.patternID" ng-change="changeSequencer();" convert-to-number>
              <option ng-repeat="patternOption in patternOptions[$parent.$index]" value="{{patternOption.id}}">{{patternOption.name}}</option>
            </select>
          </span>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="flex flex-column mt0 ml0 pl0 overflow-scroll-x border-box" ng-class="{'display-none': (expanded === false)}">
    <li class="list-style-none inline-block pr1 border-box bb">&nbsp;</li>
    <li class="flex flex-align-center flex-uniform-size pl-half pr-half list-style-none border-box bb bl" ng-repeat="track in tracks">
      <button class="button-small button-hollow full-width round" ng-click="removeTrack(track.id);">X</button>
    </li>
  </ul>
</div>

<div class="pl1">
  <button class="block button-full button-hollow" ng-click="addTrack();">Add Track</button>
</div>
