<h2 class="mt0 mb1 pl1">Sequencer</h2>
  <div class="flex">
    <ul class="flex flex-column mt0 ml0 pl0 overflow-scroll-x border-box" ng-class="{expanded: (expanded === true), contracted: (expanded === false)}">
      <li class="list-style-none pl1 border-box bb"><span><button class="button-small button-hollow pt0 pb0" style="border-radius: 6px; width: 40px;" ng-click="toggleExpansion();">{{expansionToggleLabel}}</button></span></li>
      <li class="flex flex-column flex-uniform-size list-style-none pl1 pr1 border-box bb br" style="justify-content: center;" ng-repeat="track in tracks">
        <span class="short-name">{{track.name | limitTo:2}}</span>
        <input class="underlinedInput full-width" ng-model="track.name" ng-change="changeTrackName(track.id);" type="text" />
        <span class="sequencer-volume-container flex flex-align-center">
          <button class="button-hollow button-small {{track.muted ? 'button-enabled' : ''}}" ng-click="toggleTrackMute(track.id);">Mute</button>
          <input style="flex: 1; margin-left: 4px; width: 1px;" ng-model="track.volume" ng-change="changeSequencer();" ng-disabled="track.muted" type="range" min="0.0" max="1.0" step="0.01" />
        </span>
      </li>
    </ul>
    <ul class="flex flex-uniform-size flex-column mt0 ml0 pl0 overflow-scroll-x border-box">
      <li class="inline-block list-style-none full-width border-box">
        <ul class="flex ml0 pl0 no-whitespace-wrap">
          <li class="flex-uniform-size list-style-none border-box bb" style="min-width: 150px;" ng-model="currentStep" ng-repeat="n in [1,2,3,4,5,6,7,8,]">
            <span class="inline-block center full-width" ng-class="{enabled: currentStep === n}">{{n}}</span>
          </li>
        </ul>
      </li>
      <li ng-repeat="track in tracks" class="list-style-none full-width border-box" style="height: 6.0rem;">
        <ul class="flex full-height ml0 pl0 no-whitespace-wrap">
          <li class="sequencer-pattern flex-uniform-size full-height list-style-none center border-box bb br" style="min-width: 9.0rem;" ng-repeat="pattern in track.patterns" ng-init="sequencerIndex = $index" ng-class="{enabledlight: currentStep === ($index + 1)}">
            <span class="flex flex-align-center full-height border-box" style="padding-left: 0.75rem; padding-right: 0.75rem;">
              <select class="full-width" ng-model="pattern.patternID" ng-change="changeSequencer();" convert-to-number>
                <option ng-repeat="patternOption in patternOptions[$parent.$index]" value="{{patternOption.id}}">{{patternOption.name}}</option>
              </select>
            </span>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="flex flex-column mt0 ml0 pl0 overflow-scroll-x border-box" ng-class="{'display-none': (expanded === false)}">
      <li class="list-style-none inline-block pr1 border-box bb">&nbsp;</li>
      <li class="flex flex-align-center flex-uniform-size list-style-none border-box bb bl" style="padding-left: 0.75rem; padding-right: 0.75rem;" ng-repeat="track in tracks">
        <button class="button-small button-hollow full-width round" ng-click="removeTrack(track.id);">X</button>
      </li>
    </ul>
  </div>

<div class="pl1">
  <button class="block button-full button-hollow" ng-click="addTrack();">Add Track</button>
</div>
