<div class="mb2">
  <span class="inline-block">Now Editing:</span>
  <select class="mr2 inline-block" style="vertical-align: middle; width: 9.0rem;" ng-model="trackID" ng-change="changeSelectedTrack();" convert-to-number>
     <option ng-repeat="trackOption in trackOptions" value="{{trackOption.id}}">{{trackOption.name}}</option>
  </select>
  <ul class="m0 pl0 inline-block">
    <li class="inline-block list-style-none mr1">
      <a href="" class="paneTab" ng-class="{paneTabSelected:(selectedTab === 'instrument')}" ng-click="changeSelectedTab('instrument')">Instrument</a>
    </li>
    <li class="inline-block list-style-none">
      <a href="" class="paneTab" ng-class="{paneTabSelected:(selectedTab === 'patterns')}" ng-click="changeSelectedTab('patterns')">Patterns</a>
    </li>
  </ul>
</div>
<div instrument-editor instrument="instrument" class="flex overflow-scroll-x pb1 instrument-panel-container" ng-class="{'display-none':(selectedTab !== 'instrument')}" update-instrument="updateInstrument()"></div>
<div ng-class="{'display-none':(selectedTab !== 'patterns')}" >
  <div pattern-list track-id="trackID" pattern-options="patternOptions" selected-pattern-id="pattern.id"></div>
  <div pattern-editor pattern="pattern"></div>
</div>
